<div class="container-xl contain-siz">
    <div class="row">
        <div class="col-8">
            <div class="pt-3 pb-5">
                <div class="d-flex justify-content-between align-items-center mb-2" style="width: 100%;">
                    <div>
                        <ul class="breadcrumb d-flex justify-content-start align-items-center">
                            {{#if news.CatParent}}
                            <li style="font-size: 30px; cursor:pointer"><a>{{news.CatParent}}</a></li>
                            {{/if}}
                            <li class="catLink"><a>{{news.CatName}}</a></li>
                        </ul>
                    </div>
                    {{#ifEquals news.isPremium 1}}
                    <div class="mr-4 Premier"><i class="fa fa-star" aria-hidden="true"></i> Premium</div>
                    {{/ifEquals}}
                </div>
                <div class="mb-1 mt-1"><i class="fa fa-clock-o" aria-hidden="true"></i> Thời gian đăng: 1 giờ trước
                </div>
                <h1>{{news.Title}}</h1>
                <div style="margin-top: 20px;">
                    {{!-- <span>Tag:</span> --}}
                    {{#each taging}}
                    <span class="tag">{{TagName}}</span>
                    {{/each}}
                </div>
                <div class="mt-4 mb-4 text-muted" style="font-weight: 700; font-size:20px;">
                    {{news.TinyDes}}
                </div>
                <div style="width: 100%; text-align: center; margin:30px 0">
                    <img src="/img/articles/{{news.IMG}}" style="width: 100%; object-fit: cover; ">
                </div>

                <div style="border-top: 2px solid #EBEBEB;padding:25px">
                    {{{news.FullDes}}}
                </div>
                <div style="font-weight: bold; font-size:1rem; text-align:right">
                    Nguyễn Tiến (Theo GlobalTimes)
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="sticky-top">
                <div class="flex-column mt-5">
                    <h5 class="tittleHeading">Cùng chuyên mục</h5>
                    <div class="rand-item">
                        <div class="rand-item-thumbnail">
                            <span class="rand-item-premium">
                                Premium
                            </span>
                            <a href="">
                                <img src="../img/img_nature_wide.jpg" alt="">
                            </a>
                        </div>
                        <div class="rand-item-meta">

                            <a href="">
                                <h3 class="rand-item-title">Hùng trõe đã làm nên huyền thoại để đời sau bữa tiệc nhà
                                    tiệc
                                    tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc
                                    tiệc tiệc ds</h3>
                            </a>
                            <a href=""><span class="categoryText">Chuyên mục</span></a>
                            <div class="rand-item-date">
                                <i class="fa fa-clock-o" aria-hidden="true"></i> 1 giờ trước
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div style="width:70%; margin: 0 auto;">
            <h5 class="tittleHeading">Bình luận</h5>
        </div>

        <div class="comment_block">
            <div class="create_new_comment">
                <!-- current #{user} avatar -->
                <div class="user_avatar">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/73.jpg">
                </div><!-- the input field --><div class="input_comment">
                    <input type="text" placeholder="Join the conversation..">
                </div>

            </div>
            <!-- new comment -->
            <div class="new_comment">
                <!-- build comment -->
                <ul class="user_comment d-flex justify-content-between" style="display: inline-block;">
                    <!-- current #{user} avatar -->
                    <div class="user_avatar">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/73.jpg">
                    </div><!-- the comment body -->
                    <div class="comment_body">
                        <p>Gastropub cardigan jean shorts, kogi Godard PBR&B lo-fi locavore. Organic chillwave vinyl
                            Neutra. Bushwick Helvetica cred freegan, crucifix Godard craft beer deep v mixtape cornhole
                            Truffaut master cleanse pour-over Odd Future beard. Portland polaroid iPhone.</p>
                        <div class="comment_toolbar">
                            <!-- inc. date and time -->
                            <div class="comment_details">
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> 13:94</li>
                                    <li><i class="fa fa-calendar"></i> 04/01/2015</li>
                                    <li><i class="fa fa-pencil"></i> <span class="user">John Smith</span></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- comments toolbar -->

                </ul>
            </div>
            <!-- new comment -->
             <div class="new_comment">
                <!-- build comment -->
                <ul class="user_comment d-flex justify-content-between" >
                    <!-- current #{user} avatar -->
                    <div class="user_avatar">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/73.jpg">
                    </div><!-- the comment body -->
                    <div class="comment_body">
                        <p>Gastropub cardigan jean shorts, kogi Godard PBR&B lo-fi locavore. Organic chillwave vinyl
                            .</p>
                        <div class="comment_toolbar">
                            <!-- inc. date and time -->
                            <div class="comment_details">
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> 13:94</li>
                                    <li><i class="fa fa-calendar"></i> 04/01/2015</li>
                                    <li><i class="fa fa-pencil"></i> <span class="user">John Smith</span></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- comments toolbar -->

                </ul>
            </div>
            <!-- new comment -->
             <div class="new_comment">
                <!-- build comment -->
                <ul class="user_comment d-flex justify-content-between" >
                    <!-- current #{user} avatar -->
                    <div class="user_avatar">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/73.jpg">
                    </div><!-- the comment body -->
                    <div class="comment_body">
                        <p>Gastropub cardigan jean shorts, kogi Godard PBR&B lo-fi locavore. Organic chillwave vinyl
                            .</p>
                        <div class="comment_toolbar">
                            <!-- inc. date and time -->
                            <div class="comment_details">
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> 13:94</li>
                                    <li><i class="fa fa-calendar"></i> 04/01/2015</li>
                                    <li><i class="fa fa-pencil"></i> <span class="user">John Smith</span></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- comments toolbar -->

                </ul>
            </div>
        </div>
    </div>
</div>