<div class="container-xl contain-siz">
    <div class="row">
        <div class="col-8">
            <div class="pt-3 pb-5">
                <div class="d-flex justify-content-between align-items-center mb-2" style="width: 100%;">
                    <div>
                        <ul class="breadcrumb d-flex justify-content-start align-items-center">
                            {{#if news.CatParent}}
                            <li style="font-size: 30px; cursor:pointer"><a
                                    href="/news/list-by-Cat/{{news.ParentID}}">{{news.CatParent}}</a></li>
                            {{/if}}
                            <li class="catLink"><a href="/news/list-by-Cat/{{news.CatID}}">{{news.CatName}}</a></li>
                        </ul>
                    </div>
                    {{#ifEquals news.isPremium 1}}
                    <div class="mr-4 Premier"><i class="fa fa-star" aria-hidden="true"></i> Premium</div>
                    {{/ifEquals}}
                </div>
                <div class="mb-1 mt-1"><i class="fa fa-clock-o" aria-hidden="true"></i> Thời gian đăng:
                    {{formatDate news.ReleaseDate "long3" }}
                </div>
                <h1>{{news.Title}}</h1>
                <div class="ls-tag flex-wrap mt-3">
                    {{!-- <span>Tag:</span> --}}
                    {{#each taging}}
                    <a href="/news/list-by-tag/{{TagID}}" class="tagr">{{TagName}}</a>
                    {{/each}}
                </div>
                <div class="mt-4 mb-4 text-muted" style="font-weight: 700; font-size:20px;">
                    {{news.TinyDes}}
                </div>
                <div style="width: 100%; text-align: center; margin:30px 0">
                    <img src="/img/articles/{{news.IMG}}" style="width: 100%; object-fit: cover; ">
                </div>

                <div class="news-fullcontent" style="border-top: 2px solid #EBEBEB;padding:25px">
                    {{{news.FullDes}}}
                </div>
                <div style="font-weight: bold; font-size:1rem; text-align:right">
                    {{#if writer.Pseudonym}}
                    {{writer.Pseudonym}}
                    {{else}}
                    {{writer.FullName}}
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="sticky-top">
                <div class="flex-column mt-5">
                    <h5 class="tittleHeading">Cùng chuyên mục</h5>
                    {{#each newsRand}}
                    <div class="rand-item">
                        <div class="rand-item-thumbnail">
                            {{#if isPremium}}
                            <span class="rand-item-premium">
                                Premium
                            </span>
                            {{/if}}
                            <a href="/news?id={{NewsID}}">
                                <img src="/img/articles/{{IMG}}" alt="">
                            </a>
                        </div>
                        <div class="rand-item-meta">
                            <a href="/news?id={{NewsID}}">
                                <h3 class="rand-item-title">{{Title}}</h3>
                            </a>
                            <a href=""><span class="categoryText">{{CatName}}</span></a>
                            <div class="rand-item-date">
                                <span>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    {{formatDate news.ReleaseDate "HH:mm" }}
                                </span>
                                <span class="ml-1"><i class="fa fa-calendar"></i>
                                    {{formatDate news.ReleaseDate "DD/MM/YYYY" }}</span>

                            </div>
                            <div class="news-item-date">
                                <i class="fa fa-eye" aria-hidden="true"></i> {{Views}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <div>
        <div style="width:70%; margin: 0 auto;">
            <h5 class="tittleHeading">Bình luận</h5>
        </div>

        <div class="comment_block">
            {{#if user}}
            <div class="create_new_comment">
                <!-- current #{user} avatar -->
                <div class="user_avatar">
                    <img src="/img/user/{{user.Avatar}}">
                </div><!-- the input field -->
                <div class="input_comment">
                    <form id="commentform" action="/news/comment" method="post">
                        <input id="txtComment" type="text" name="comment" placeholder="Tham gia bình luận..."></input>
                        <input type="hidden" name="id" value="{{news.NewsID}}">
                    </form>
                </div>

            </div>
            {{else}}
            <div class="center">Đăng nhập để tham gia bình luận</div>
            {{/if}}

            {{#each comment}}
            <!-- new comment -->
            <div class="new_comment">
                <!-- build comment -->
                <ul class="user_comment d-flex justify-content-between" style="display: inline-block;">
                    <!-- current #{user} avatar -->
                    <div class="user_avatar">
                        <img src="/img/user/{{Avatar}}">
                    </div><!-- the comment body -->
                    <div class="comment_body">
                        <p>{{Content}}</p>
                        <div class="comment_toolbar">
                            <!-- inc. date and time -->
                            <div class="comment_details">
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> {{formatDate CommentDate "HH:mm" }}</li>
                                    <li><i class="fa fa-calendar"></i> {{formatDate CommentDate "DD/MM/YYYY" }}</li>
                                    <li><i class="fa fa-pencil"></i> <span class="user">{{FullName}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- comments toolbar -->

                </ul>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{#section 'js'}}
{{!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script> --}}
<script>
    $('#txtComment').keydown(function () {
        var key = e.which;
        if (key == 13) {
            // As ASCII code for ENTER key is "13"
            $('#commentform').submit(); // Submit form code
        }
    });

</script>
{{/section}}