{{#section 'css'}}
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
{{/section}}

{{#section 'js'}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>
    $(document).ready(function () {

        $("#owl-demo").owlCarousel({
            loop: true,
            items: 1,
            navigation: true, // Show next and prev buttons
            slideSpeed: 1000,
            paginationSpeed: 1000,
            autoplay: true,
            autoplayTimeout: 5000,
            // "singleItem:true" is a shortcut for:
        });
        $("#owl-list").owlCarousel({
            loop: true,
            items: 2,
            center: true,
            margin: 10,
            navigation: true, // Show next and prev buttons
            slideSpeed: 1000,
            paginationSpeed: 1000,
            autoplay: true,
            autoplayTimeout: 5000,

            // "singleItem:true" is a shortcut for:
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/readmore-js@2.2.1/readmore.min.js"
    integrity="sha256-ygz7RPJkJA9GMkV/1XKiK5GEfenXOdkEj2yhi8LRipU=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        let a = $('#mostview').height();
        a /= 2;
        $('#mostview').readmore({
            speed: 100,
            collapsedHeight: a,
            heightMargin: 16,
            moreLink: '<div class="read-more"><a href="#" class="button">Xem thêm</a></div>',
            lessLink: '<div class="read-more"><a href="#" class="button">Thu gọn</a></div>',
            embedCSS: true,
            blockCSS: 'display: block; width: 100%;',
            startOpen: false,

            // callbacks
            blockProcessed: function () { },
            beforeToggle: function () { },
            afterToggle: function () { }
        });
    });

</script>
{{/section}}

<div class="container-xl contain-siz" style="">
    <div id="owl-demo" class="owl-carousel owl-theme">
        {{#each news.MostInterested}}
        <div class="item">
            <div class="wrapif">
                <a href="/news?id={{NewsID}}">
                    <img src="/img/articles/{{IMG}}" alt="The Last of us">
                </a>

                <div class="content">
                    <h4 class="tittle"><a href="/news?id={{NewsID}}">{{Title}}</a> {{#if isPremium}}
                        <span class="news-item-premium">
                            Premium
                        </span>
                        {{/if}}</h4>
                    <div class="has-transition "><a href="/news/list-by-Cat/{{CatID}}"><span
                                class="categoryText">{{CatName}}</span></a>
                    </div>

                    <div><i class="fa fa-clock-o" aria-hidden="true"></i> Thời gian đăng:
                        {{formatDateAgo ReleaseDate }}</div>
                    <div><i class="fa fa-eye" aria-hidden="true"></i>
                        {{Views}} lượt xem</div>
                    <p>{{TinyDes}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="row">
        <div class="col-xl-7">
            <h4 class="tittleHeading">Xem nhiều nhất</h4>
            <div id="mostview" class="viewest-news">
                {{#each news.MostView}}
                <div class="viewest-news-item">
                    <div class="viewest-news-item-thumbnail">
                        <a href="/news?id={{NewsID}}">
                            <img src="/img/articles/{{IMG}}" alt="">
                        </a>
                        {{#if isPremium}}
                        <span class="news-item-premium">
                            Premium
                        </span>
                        {{/if}}
                    </div>
                    <div class="viewest-news-item-meta">
                        <a href="/news/list-by-Cat/{{CatID}}"><span class="categorylabel">{{CatName}}</span></a>
                        <a href="/news?id={{NewsID}}">
                            <h3 class="viewest-news-item-title">{{Title}}</h3>
                        </a>
                        <div class="news-item-date">
                            <i class="fa fa-clock-o" aria-hidden="true"></i> {{formatDate ReleaseDate "long3" }} -
                            {{Views}} lượt xem
                        </div>

                        <div class="news-item-decription ">{{TinyDes}}</div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-xl-5">
            <h2 class="tittleHeading">Bài viết mới nhất</h2>
            <div class="Newest">
                {{#each news.Newest}}
                <div class="news-item">
                    <div class="news-item-thumbnail">
                        {{#if isPremium}}
                        <span class="news-item-premium">
                            Premium
                        </span>
                        {{/if}}
                        <a href="/news?id={{NewsID}}">
                            <img src="/img/articles/{{IMG}}" alt="">
                        </a>
                    </div>
                    <div class="news-item-meta">
                        <a href="/news?id={{NewsID}}">
                            <h3 class="news-item-title">{{Title}}</h3>
                        </a>
                        <a href="/news/list-by-Cat/{{CatID}}"><span class="categoryText">{{CatName}}</span></a>
                        <div class="news-item-date">
                            <i class="fa fa-clock-o" aria-hidden="true"></i> {{formatDateAgo ReleaseDate}}
                        </div>
                        <div class="news-item-date">
                            <i class="fa fa-eye" aria-hidden="true"></i> {{Views}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>

        </div>
    </div>
    <div>
        <h2 class="tittleHeading">Top chuyên mục</h2>
        <div id="owl-list" class="owl-carousel owl-theme">
            {{#each news.MostInterested_in_Category}}
            <div class="item">
                <div class="wrapCat-list">

                    <img src="/img/articles/{{IMG}}" alt="">
                    <div class="content">
                        <div><a href="/news/list-by-Cat/{{CatID}}"><span class="categoryText">{{CatName}}</span></a>
                            <h5 class="tittle"><a href="/news?id={{NewsID}}">{{Title}}</a></h5>
                        </div>
                        <div>Thời gian đăng:
                            <span>
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                {{formatDate ReleaseDate "HH:mm" }}
                            </span>
                            <span class="ml-1"><i class="fa fa-calendar"></i>
                                {{formatDate ReleaseDate "DD/MM/YYYY" }}</span></div>
                        <div><i class="fa fa-eye" aria-hidden="true"></i> Lượt xem:
                            {{Views}}</div>
                        {{#if isPremium}}
                        <span class="news-item-premium">
                            Premium
                        </span>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>