<div class="container-xl contain-siz">
    <div>
        <h5>Thế giới</h5>
    </div>
    <div>
        <div class="byCat-news">
            <div class="item d-flex align-items-start">
                <div class="item-thumbnail">
                    <a href="">
                        <img src="../img/img_nature_wide.jpg" alt="">
                    </a>
                </div>
                <div class="item-meta">
                    <a href=""><span class="categorylabel">Chuyên mục</span></a>

                    <h3 class="item-title"><a href="" style="color: #333;">
                            Hùng trõe đã làm nên huyền thoại để đời sau bữa tiệc
                            nhà
                            tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc
                            tiệctiệctiệctiệctiệctiệctiệctiệctiệctiệctiệctiệc ds</a> </h3>
                    <div class="ls-tag flex-wrap">
                        <a href="" class="tagr">Thế giới</a>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                    </div>
                    <div class="item-date">
                        1 giờ trước - 131 lượt xem
                    </div>
                    <div class="item-decription text-muted">Hùng trõe đã làm nên huyền thoại để đời sau bữa tiệc nhà
                        tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc trõe đã làm trõe đã làm trõe đã làm
                        trõe đã làm trõe đã làm
                        trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe
                        đã làm
                    </div>
                </div>
            </div>
            <div class="item d-flex align-items-start">
                <div class="item-thumbnail">
                    <a href="">
                        <img src="../img/img_nature_wide.jpg" alt="">
                    </a>
                </div>
                <div class="item-meta">
                    <a href=""><span class="categorylabel">Chuyên mục</span></a>

                    <h3 class="item-title"><a href="" style="color: #333;">
                            Hùng trõe đã làm nên huyền thoại để đời sau bữa tiệc
                            nhà
                            tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc
                            tiệctiệctiệctiệctiệctiệctiệctiệctiệctiệctiệctiệc ds</a> </h3>
                    <div class="ls-tag flex-wrap">
                        <a href="" class="tagr">Thế giới</a>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                    </div>
                    <div class="item-date">
                        1 giờ trước - 131 lượt xem
                    </div>
                    <div class="item-decription text-muted">Hùng trõe đã làm nên huyền thoại để đời sau bữa tiệc nhà
                        tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc trõe đã làm trõe đã làm trõe đã làm
                        trõe đã làm trõe đã làm
                        trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe
                        đã làm
                    </div>
                </div>
            </div>
            <div class="item d-flex align-items-start">
                <div class="item-thumbnail">
                    <a href="">
                        <img src="../img/img_nature_wide.jpg" alt="">
                    </a>
                </div>
                <div class="item-meta">
                    <a href=""><span class="categorylabel">Chuyên mục</span></a>

                    <h3 class="item-title"><a href="" style="color: #333;">
                            Hùng trõe đã làm nên huyền thoại để đời sau bữa tiệc
                            nhà
                            tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc
                            tiệctiệctiệctiệctiệctiệctiệctiệctiệctiệctiệctiệc ds</a> </h3>
                    <div class="ls-tag flex-wrap">
                        <a href="" class="tagr">Thế giới</a>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                    </div>
                    <div class="item-date">
                        1 giờ trước - 131 lượt xem
                    </div>
                    <div class="item-decription text-muted">Hùng trõe đã làm nên huyền thoại để đời sau bữa tiệc nhà
                        tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc trõe đã làm trõe đã làm trõe đã làm
                        trõe đã làm trõe đã làm
                        trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe
                        đã làm
                    </div>
                </div>
            </div>
            <div class="item d-flex align-items-start">
                <div class="item-thumbnail">
                    <a href="">
                        <img src="../img/img_nature_wide.jpg" alt="">
                    </a>
                </div>
                <div class="item-meta">
                    <a href=""><span class="categorylabel">Chuyên mục</span></a>

                    <h3 class="item-title"><a href="" style="color: #333;">
                            Hùng trõe đã làm nên huyền thoại để đời sau bữa tiệc
                            nhà
                            tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc
                            tiệctiệctiệctiệctiệctiệctiệctiệctiệctiệctiệctiệc ds</a> </h3>
                    <div class="ls-tag flex-wrap">
                        <a href="" class="tagr">Thế giới</a>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                    </div>
                    <div class="item-date">
                        1 giờ trước - 131 lượt xem
                    </div>
                    <div class="item-decription text-muted">Hùng trõe đã làm nên huyền thoại để đời sau bữa tiệc nhà
                        tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc trõe đã làm trõe đã làm trõe đã làm
                        trõe đã làm trõe đã làm
                        trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe
                        đã làm
                    </div>
                </div>
            </div>
            <div class="item d-flex align-items-start">
                <div class="item-thumbnail">
                    <a href="">
                        <img src="../img/img_nature_wide.jpg" alt="">
                    </a>
                </div>
                <div class="item-meta">
                    <a href=""><span class="categorylabel">Chuyên mục</span></a>

                    <h3 class="item-title"><a href="" style="color: #333;">
                            Hùng trõe đã làm nên huyền thoại để đời sau bữa tiệc
                            nhà
                            tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc
                            tiệctiệctiệctiệctiệctiệctiệctiệctiệctiệctiệctiệc ds</a> </h3>
                    <div class="ls-tag flex-wrap">
                        <a href="" class="tagr">Thế giới</a>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                    </div>
                    <div class="item-date">
                        1 giờ trước - 131 lượt xem
                    </div>
                    <div class="item-decription text-muted">Hùng trõe đã làm nên huyền thoại để đời sau bữa tiệc nhà
                        tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc trõe đã làm trõe đã làm trõe đã làm
                        trõe đã làm trõe đã làm
                        trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe
                        đã làm
                    </div>
                </div>
            </div>
            <div class="item d-flex align-items-start">
                <div class="item-thumbnail">
                    <a href="">
                        <img src="../img/img_nature_wide.jpg" alt="">
                    </a>
                </div>
                <div class="item-meta">
                    <a href=""><span class="categorylabel">Chuyên mục</span></a>

                    <h3 class="item-title"><a href="" style="color: #333;">
                            Hùng trõe đã làm nên huyền thoại để đời sau bữa tiệc
                            nhà
                            tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc
                            tiệctiệctiệctiệctiệctiệctiệctiệctiệctiệctiệctiệc ds</a> </h3>
                    <div class="ls-tag flex-wrap">
                        <a href="" class="tagr">Thế giới</a>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                    </div>
                    <div class="item-date">
                        1 giờ trước - 131 lượt xem
                    </div>
                    <div class="item-decription text-muted">Hùng trõe đã làm nên huyền thoại để đời sau bữa tiệc nhà
                        tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc trõe đã làm trõe đã làm trõe đã làm
                        trõe đã làm trõe đã làm
                        trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe
                        đã làm
                    </div>
                </div>
            </div>
            <div class="item d-flex align-items-start">
                <div class="item-thumbnail">
                    <a href="">
                        <img src="../img/img_nature_wide.jpg" alt="">
                    </a>
                </div>
                <div class="item-meta">
                    <a href=""><span class="categorylabel">Chuyên mục</span></a>

                    <h3 class="item-title"><a href="" style="color: #333;">
                            Hùng trõe đã làm nên huyền thoại để đời sau bữa tiệc
                            nhà
                            tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc
                            tiệctiệctiệctiệctiệctiệctiệctiệctiệctiệctiệctiệc ds</a> </h3>
                    <div class="ls-tag flex-wrap">
                        <a href="" class="tagr">Thế giới</a>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                        <span class="tagr">hhhhh</span>
                    </div>
                    <div class="item-date">
                        1 giờ trước - 131 lượt xem
                    </div>
                    <div class="item-decription text-muted">Hùng trõe đã làm nên huyền thoại để đời sau bữa tiệc nhà
                        tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc trõe đã làm trõe đã làm trõe đã làm
                        trõe đã làm trõe đã làm
                        trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe
                        đã làm
                    </div>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-center mt-3">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item {{#unless can_go_prev}}disabled{{/unless}}">
                        <a class="page-link" href="?page={{prev_value}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {{#each this.page_items}}
                    {{#if isActive}}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">
                            {{value}}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                    {{else}}
                    <li class="page-item {{#if isDisabled}}disabled{{/if}}">
                        <a class="page-link" href="?page={{value}}">{{value}}</a>
                    </li>
                    {{/if}}
                    {{/each}}
                    <li class="page-item {{#unless can_go_next}}disabled{{/unless}}">
                        <a class="page-link" href="?page={{next_value}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>