<div class="container-fluid contain-siz">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h4>Danh sách bài viết</h4>
            <a class="btn btn-outline-success" href="/writer/new-article" role="button">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Thêm bài viết
            </a>
        </div>
        <table class="table table-hover table-striped">
            <thead class="thead-dark">
                <tr class="d-flex">
                    <th scope="col" class="text-center col-1">#</th>
                    <th scope="col" class="col-2">Tiêu đề</th>
                    <th scope="col" class="col-1">Ảnh đại diện</th>
                    <th scope="col" class="text-center col-2">Danh Mục</th>
                    <th scope="col" class="col-1 text-center">Lần chỉnh sửa cuối</th>
                    <th scope="col" class="col-1 text-center">Thời gian XB</th>
                    <th scope="col" class="col-1">Trạng thái</th>
                    <th scope="col" class="col-2 text-center">Lý do</th>
                    <th scope="col" class="text-center col-1">Xem</th>
                </tr>
            </thead>
            <tbody>
                {{#each News}}
                <tr class="d-flex">
                    <th scope="row" class="text-center col-1">{{stt}}</th>
                    <td class="col-2"> {{Title}}</td>
                    <td class="col-1"><img src="/img/articles/{{IMG}}" alt=""
                            style="max-width: 100px; object-fit: cover;"></td>
                    <td class="col-2 text-center">
                        {{#if CatParent}}
                        {{CatParent}} - {{CatName}}
                        {{else}}
                        {{CatName}}
                        {{/if}}

                    </td>
                    <td class="col-1 text-center">
                       {{formatDate LastEdit "long"}}
                    </td>
                    <td class="col-1 text-center">
                        {{#ifEquals ReleaseDate null}}
                        Chưa ấn định
                        {{/ifEquals}}</td>
                    <td class="col-1">{{StaName}}</td>
                    <td class="col-2 text-center">
                        {{#ifEquals Issue null}}
                        Bài viết chưa được phê duyệt
                        {{/ifEquals}}</td>
                    <td class="text-center col-1">
                        <a class="btn btn-success btn-sm" href="/writer/view-article?id={{NewsID}}" role="button"
                            title="See News">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <div class="card-footer text-muted">
            Footer
        </div>
    </div>
</div>