<div class="container-xl" style="margin-top: 60px;">
    <div class="card">
        <div class="card-header d-flex">
            <h4 class="mr-auto">Mô tả bài viết</h4>
            <a class="btn btn-outline-success" href="/writer/edit-article?id={{news.NewsID}}" role="button">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                Chỉnh sửa
            </a>
            <form action="/writer/delete-article" method="POST">
                <input type="hidden" name="id" value="{{news.NewsID}}">
                <button class="btn btn-outline-danger ml-2" type="submit">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Xóa
                </button>
            </form>
        </div>
        <div class="pt-3 pb-5 pl-5 pr-5">
            <div class="d-flex justify-content-between mb-2" style="width: 100%;">
                <ul class="breadcrumb" style="float: left;">
                    {{#if news.CatParent}}
                    <li><a>{{news.CatParent}}</a></li>
                    {{/if}}
                    <li><a style="color: gray;">{{news.CatName}}</a></li>
                </ul>
                {{#ifEquals news.isPremium 1}}
                <div class="mr-4 Premier"><i class="fa fa-star" aria-hidden="true"></i> Premium</div>
                {{/ifEquals}}
            </div>
            <h1>{{news.Title}}</h1>
            <div style="margin-top: 20px;">
                {{!-- <span>Tag:</span> --}}
                {{#each taging}}
                <span class="tag">{{TagName}}</span>
                {{/each}}
            </div>
            <div class="mt-4 mb-4" style="font-weight: 500; font-size:20px;">
                {{news.TinyDes}}
            </div>
            <div>
                {{{news.FullDes}}}
            </div>
            <div style="font-weight: bold; font-size:1rem; text-align:right">
                Nguyễn Tiến (Theo GlobalTimes)
            </div>
        </div>
        <div class="card-footer text-muted" style="text-align: center;">
            <a href="./list-article" class="btn btn-info btn-block" role="button"><i class="fa fa-angle-double-left"
                    aria-hidden="true"></i> Trở về</a>
        </div>

    </div>
</div>